html,body{
  padding: 0;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header{
  background-color: gray;
}

.Form{
  border-radius: 2px;
  background-color: darkgray;
  padding: 1%;
  margin: 1%;
}

#list{
  background-color: #a0d8ef;
  border-radius: 3px;
  padding: 2%;
  margin:3%;
}

#todoDetail{
  background-color: #a0d8ef;
  border-radius: 3px;
  padding: 2%;
  margin:3%;
}
