html,body,h1,a,h5,h2,h3,p,div{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', "メイリオ", Meiryo,'ＭＳ Ｐゴシック', 'MS PGothic', 'IPAPGothic', Helvetica, sans-serif;
  background-color: #E7E9DE;
}

p{
  font-size: 13pt;
}


a {
  color: black;
  transition: color .5s;
}

a:hover {
  color: #78B9FF;
}

#headerLogo{
  font-weight: bold;
  color: black;
  transition: color .3s;
}

#headerLogo:hover{
  color: white;

}

#header{
  height: 14vh;
  width: 100vw;
  position: fixed;
  border-bottom: 4px solid black;
  text-align: center;
  background-color: #5D86FF;
}
.content{
  min-height: 130vh;
  height: auto;
  padding-top: 14vh;
}

.Form{
  border-radius: 3em .7em 2em .9em/.7em 2em .7em 3em;
  border: 4px solid black;
  background-color: #78B9FF;
  width: 60vw;
  padding: 1%;
  margin: 1%;
}

.formInput{
  font-size: 15pt;
}

.listName{
  margin: 1%;
  width: 60vw;
  padding: .25em 0 .25em .75em;
	border-left: 8px solid rgba(247,171,173,0.85);
  background-color: white;
  border-radius: 4px;
}


#list{
  background-color:white;
  border-radius: 3em .7em 5em .7em/.7em 2em .7em 3em;
  border: 2px solid black;
  padding: 2%;
  margin:2%;
  width: 50vw;

}

#listEnp{
  display: inline-block;
  border: 2px solid black;
  margin: 2%;
  padding: 2%;
  background-color: darkgray;
}

#todoEmp{
  display: inline-block;
  border: 2px solid black;
  margin: 2%;
  padding: 1%;
  background-color: darkgray;
}

.errMessage{
  display: none;
}

#todoDetail{
  background-color:white;
  border: 2px solid black;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  padding: 2%;
  margin:3%;
}

.checkBox{
  display: inline-block;
}

.limitDate{
  color:  rgba(247,171,173,0.85);
}

.createdDate{
  color: rgba(126,203,220,0.85);
}

#searchLogo{
  margin: 1%;
  width: 55vw;
  padding: .25em 0 .25em .75em;
  border-left: 8px solid rgba(126,203,220,0.85);
  background-color: white;
  border-radius: 4px;
}

#searchText{
  font-size: 15pt;
}

.searchList{
  width: auto;
  display: block;
  border: 4px solid rgba(255,255,255,0.85);
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  box-sizing: border-box;
  padding: 1%;
  margin: 1%;
}

#searchMessage{
  display: none;
  font-weight: bold;
  margin: 1%;
  font-size: 13pt;
}

#searchMessageTodo{
  display: none;
  font-weight: bold;
  margin: 1%;
  font-size: 13pt;
}

#searchMessageList{
  display: none;
  font-weight: bold;
  margin: 1%;
  font-size: 13pt;
}
