  <%# header.ejsの読み込み%>
  <%- include('header') -%>


<div class="content">

  <%# List入力フォームを作成する%>
    <div class="Form">
      <h2>新しいTodoを作成する▽</h2>
      <form id='form'>
        <p>
          <label for='text'>リスト</label>
          <input class = 'formInput'id='listText' size='30'type='text'placeholder="リスト名" name='text'maxlength="31"/>
          <input type='submit' value='作成する'/>
        </p>

      </form>
    </div>

  <%# List一覧を表示する%>
  <div class="list"></div>

</div>


    <%# jQueryとindex.jsを読み込む%>
    <!-- <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script> -->
    <script src='../javascripts/jquery/jquery-3.1.1.min.js'></script>
    <script src='javascripts/index.js'></script>

  <%- include('footer') -%>
