  <%# header.ejsの読み込み%>
  <%- include('header') -%>

  <%
      var todoData = todos;
      var listData = lists;
      console.log(todoData[0]);
      console.log(listData[0].listName);
  %>


  <%# List入力フォームを作成する%>
    <div class="Form">
      <p>新しいTodoを作成する</p>
      <form id='form'>
        <p>
          <label for='text'>リスト</label>
          <input id='listText' type='text' name='text'maxlength="30"/>
        </p>

        <p>
          <input type='submit' value='リストの作成'/>
        </p>
      </form>
    </div>

    <%#リスト一覧の表示%>
    <% for(var i=0;i < listData.length;i++){%>

      <div id="list">
        <a href="/listPage/<%=listData[i].listName%>"><p><%= listData[i].listName%></p></a>
      </div>


    <%}%>




  <%# List一覧を表示する%>
    <list class='list'></list>

    <%# jQueryとindex.jsを読み込む%>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='javascripts/index.js'></script>

  <%- include('footer') -%>
