<% include header %>

<div class="content">


<h1>検索</h1>

<%#検索フォーム%>
<div class="Form">
  <form id="form">
    <input id='searchText' type="text" size="30"　maxlength="30">
    <input id='searchBtn' type="button" value="検索">
  </form>
</div>

<div id="searchMessage"></div>

<div id="searchMessageTodo"></div>

<ul id='searchResTodo'>
</ul>

<div id="searchMessageList"></div>

<ul id='searchResList'>
</ul>


</div>

<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script src="../javascripts/search.js"></script>

<% include footer %>
